{% set gridData = gridBlock.getGridJsonData() %}
{% set dataUrl = gridBlock.getDataUrl() %}
{% set fields = gridBlock.getFields() %}
{% set fieldNames = gridBlock.getFieldsNames() %}
<div class="container-fluid">
    <h1>Product Grid - AJAX Pagination (DataTables)</h1>
    {% include '@GenakerDataGrid/GridJs/_filters.html.twig' with {gridBlock: gridBlock} %}
    <div id="product-grid-preloader" class="grid-preloader"><div class="grid-spinner"></div></div>
    <table id="product-grid" class="display" style="display: none;">
        <thead><tr>{% for n in fieldNames %}<th>{{ fields[n] ?? n }}</th>{% endfor %}</tr></thead>
        <tbody>
        {% for row in gridData.data %}
        <tr>{% for n in fieldNames %}
            <td>
                {% if n == 'image' and row[n] %}
                    <img src="{{ row[n] }}" style="max-width: 100px; max-height: 80px;" />
                {% else %}
                    {{ row[n] ?? '' }}
                {% endif %}
            </td>
        {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<link rel="stylesheet" href="{{ asset('bundles/genakerdatagrid/css/datatables.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/genakerdatagrid/css/preloader.css') }}">
<script src="{{ asset('bundles/genakerdatagrid/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/genakerdatagrid/js/datatables.min.js') }}"></script>
<script>
$(function() { $('#product-grid').DataTable({ 
    pageLength: 20,
    initComplete: function() {
        $('#product-grid-preloader').hide();
        $('#product-grid').show();
    }
}); });
</script>
