{% set dataUrl = gridBlock.getDataUrl() %}
{% set fields = gridBlock.getFields() %}
{% set fieldNames = gridBlock.getFieldsNames() %}
<div class="container-fluid">
    <h1>Product Grid - AJAX (Tabulator)</h1>
    {% include '@GenakerDataGrid/_filters.html.twig' with {gridBlock: gridBlock} %}
    <div id="product-grid"></div>
</div>
<link rel="stylesheet" href="{{ asset('bundles/genakerdatagrid/css/tabulator.min.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/genakerdatagrid/css/preloader.css') }}">
<script src="{{ asset('bundles/genakerdatagrid/js/tabulator.min.js') }}"></script>
<script>
(function() {
    var container = document.getElementById('product-grid');
    container.innerHTML = '<div class="grid-preloader"><div class="grid-spinner"></div></div>';
    var columns = [{% for n in fieldNames %}
        { 
            title: '{{ (fields[n] ?? n)|e('js') }}', 
            field: '{{ n|e('js') }}' 
            {% if n == 'image' %}, formatter: function(cell) { var url = cell.getValue(); return '<img src="' + (url || '{{ asset('bundles/genakerdatagrid/images/placeholder.svg')|e('js') }}') + '" style="max-width: 100px; max-height: 80px;" alt="' + (url ? 'Product' : 'No image') + '" />'; } {% endif %}
        }{% if not loop.last %}, {% endif %}
    {% endfor %}];
    new Tabulator('#product-grid', {
        ajaxURL: '{{ dataUrl|e('js') }}',
        ajaxResponse: function(url, params, response) { return response.data; },
        columns: columns,
        pagination: true,
        paginationSize: 10
    });
})();
</script>
